target/
__pycache__/
!tasks.json
script*
rough*
build/
dist/
# lib*
*nstructions*
releases/download/
them/
flexibility.java
*crash-report*
riemann_ai_engine/
riemann_core.abi3.so
build_ai/
*debug.log
*.build
*.dist