target/
__pycache__/
.vscode
!tasks.json
script*
rough*
build/
dist/
# lib*
*nstructions*
# instructions, constructions
releases/download/
them/
flexibility.java
*crash-report*
riemann_ai_engine/
*.so
build_ai/
*debug.log
*.build
*.dist
node_modules/
*.pytest_cache
commands.txt