Markdown==3.10.1
Nuitka==4.0
PyMuPDF==1.27.1
PyMuPDFb==1.23.22
PySide6==6.10.1
bleach==6.3.0
ipython_pygments_lexers==1.1.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
maturin==1.11.5
nest_asyncio==1.6.0
pikepdf==10.5.0
pip-chill==1.0.5
pipreqs==0.5.0
pix2tex==0.1.4
prompt_toolkit==3.0.52
pyHanko==0.33.0
pydantic_core==2.41.5
pyinstaller==6.18.0
pypdf==6.7.5
pytest-qt==4.5.0
stack_data==0.6.3
