asn1crypto
certifi
faiss-cpu
fastapi
faster_whisper
PyMuPDF
lxml
Markdown
numpy
pikepdf
Pillow
pix2tex
psutil
pydantic
pyhanko
pyhanko_certvalidator
pypdf
PySide6
Requests
sentence_transformers
shiboken6
uvicorn
yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git
